<div class="row">
  <div class="col-6 offset-3">
    <form *ngIf="event" #eventForm='ngForm' (ngSubmit)='onUpdate(eventForm)' novalidate>
      <div class="form-group">
        <label for="eventName">Name</label>
        <input type="text" class="form-control" id="eventName" name='name' [(ngModel)]='event.name' required pattern=".{8,}"
          #eventName='ngModel' >
        <div class="error-message" [hidden]='eventName.valid ||eventName.pristine'>
          Please, give a name for the event!
        </div>
      </div>
      <div class="form-group">
        <label for="eventDate">Date</label>
        <input type="text" class="form-control" id="eventDate" name='date' [(ngModel)]='event.date' required
          #eventDate='ngModel' >
        <div class="error-message" [hidden]='eventDate.valid ||eventDate.pristine'>
          Please, give the date for the event!
        </div>
      </div>
      <div class="form-group">
        <label for="eventTime">Time</label>
        <input type="text" class="form-control" id="eventTime" name='time' [(ngModel)]='event.time' required
          #eventTime='ngModel' >
        <div class="error-message" [hidden]='eventTime.valid ||eventTime.pristine'>
          Please, give the time for the event!
        </div>
      </div>
      <div class="form-group">
        <label for="eventLocation">Location</label>
        <input type="text" class="form-control" id="eventLocation" name='location' [(ngModel)]='event.location' required
          #eventLocation='ngModel'>
        <div class="error-message" [hidden]='eventLocation.valid ||eventLocation.pristine'>
          Please, give the address for the event!
        </div>
      </div>
      <button [disabled]='!eventForm.form.valid' type="submit" class="btn btn-success">Update</button>
    </form>
  </div>
</div>
